# cache
.cache
.castget/
.texlive/
.mozilla/
.pulse-cookie
.wget-hsts
.zoom
.hasura
.pki
.surf

# dev environment
.angular-config.json
.cmake/
.java/
.npmrc
.npm/
.yarnrc
.yarn/

# steam
.steam/
.paradoxlauncher/
.steampath
.steampid
.local/share/Steam/
.local/share/Paradox\ Interactive/
.local/share/vulkan/

# csharp configs
.aspnet/
.dotnet/
.mono/
.nuget/
.vsts/
.local/share/NuGet/

# dotnet templates cache
.templateengine/

# audio
.ncmpcpp/
mpv/

# electron garbage
.electron-gyp/

# gnome garbage
.local/share/gnome*
.gnome

# JetBrains
CLionProjects/
WebstormProjects/
.local/share/JetBrains

# CodeTogether
.codetogether/
.ctsystem

# Freetube files
freetube/
freetube-bin/

# history files
.python_history
.mysql_history
.sqlite_history
.nmcli_history
.lesshst
.node_repl_history

# bash files
.Xauthority
.bash_history
.bash_logout
.bash_aliases_priv

# private config
.config/
scripts/local/
.gnupg
.mozilla/
.password-store/
.purple/

# remmina
remmina_log

# mail files
.mbsyncrc
.notmuch-config
.abook/
mail/
sent/

# private files
Desktop/
Documents/
Downloads/
KeePass/
Music/
Pictures/
programs/
repos/
images/
OneDrive/
Videos/
DAW/
.local/

# ignore secret files ALWAYS
.ssh/
*.gpg
*.rsa
*_rsa
*.kdbx
*.key

# log files
*.log

# nvidia
.nv/
.nvidia-settings-rc

# nvim/vim cache
.vim/
.viminfo
.NERDTree*
