# sys folders
Pictures
Videos
Documents
Games
Desktop
Thrash

# dev environment
go/

# js
.angular-config.json
node_modules/
yarn.lock

# gaming
Games/
My Games/


# audio
mpv/

# JetBrains
CLionProjects/
WebstormProjects/

# Freetube files
freetube/
freetube-bin/

.*
# private config
!.config/
scripts/local/

# remmina
remmina_log

# mail files
mail/
sent/

# private files
Desktop/
Documents/
Dokumenty/
Downloads/
KeePass/
Music
Music/
Pictures
Pictures/
programs/
Programs/
repos/
images/
OneDrive/
Videos
Videos/
Monero/
DAW/
tmp/
.gitconfig

# sound/video
*.avi
*.mp4
*.mkv
*.mp3
*.flac
*.webm

# ignore secret files ALWAYS
*.gpg
*.rsa
*_rsa.pub
*.kdbx
*.key

# log files
*.log
