/* gtk theme */
@define-color font-color #fff;
@define-color background-color #000;
@define-color focus-bg-color #111;

* {
    font-family: "JetBrains Mono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
}

.modules-right {
    margin: 5px;
}
.modules-center, .modules-middle {
    margin: 5px;
}

window#waybar {
    background-color: @background-color;
    color: @font-color;
    transition-property: background-color;
    transition-duration: .5s;
}

#tags {
    padding: 5px 0;
}

#tags button {
    color: @background-color;
}

/* focused */
#tags button.focused {
    background-color: @focus-bg-color;
}

#tags button.focused {
    color: @font-color;
}

/* occupied */
#tags button.occupied {
    color: @font-color;
}

#custom-weather #clock, #battery, #cpu, #memory, #disk, #temperature, #backlight, #network, #pulseaudio, #wireplumber, #custom-media, #tray, #mode, #idle_inhibitor, #scratchpad, #power-profiles-daemon, #mpd {
    margin-right:15px;
    color: #ffffff;
}

#custom-weather {
    margin-top: 10px;
}
