/* gtk theme */
@define-color font-color #fff;
@define-color background-color #000;
@define-color focus-bg-color #111;

* {
    font-family: JetBrains Mono, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.modules-right {
margin-left: 5rem;
}

window#waybar {
    background-color: @background-color;
    color: @font-color;
    transition-property: background-color;
    transition-duration: .5s;
}

#tags {
    padding: 5px 0;
}

#tags button {
    color: @background-color;
}

/* focused */
#tags button.focused {
    background-color: @focus-bg-color;
}

#tags button.focused {
    color: @font-color;
}

/* occupied */
#tags button.occupied {
    color: @font-color;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}
